<html>
<head>
        <link rel = 'stylesheet' href ='/style.css'/>
</head>
<body> 
<div style = "width: 620px; min-height:240px; height:400px;  background-image: linear-gradient(to right, #f5c7c8, #c2a7d8 50%, #9db5fd);" >
        <div style ="width: 500px; min-height:200px; height:280px; background-color:#F3FBFF; padding:40px 40px 40px 40px; margin:20px 20px 20px 20px; position:absolute;">
<h1 style = "font-size:36px;font-family:Gilmer-Bold;">Witaj</h1>
<p style ="font-size:18px; font-family:Gilmer;">Dziękujemy za rejestrację na wydarzenie "Start DEX". </p>
<p style ="font-size:18px; font-family:Gilmer;">Potwierdzamy Twój udział w wydarzeniu.</p>
<p style ="font-size:18px; font-family:Gilmer;">Pozdrawiamy</a></p>
<p style ="font-size:18px; font-family:Gilmer;">Zespoł Value</p>
</div>
</div>
</body>
</html>