<html>
<p>Hello,<br /><br />Your account <%=user.email%> on the ValueDAO platform has been registered.</p>
<p>In order to verify that you are the owner of the email account, please click the link below:</p>
<p><a href="https://value.one/#/login/<%= user.activation_code %>"</a>https://value.one/#/login/<%= user.activation_code %></a></p>
<p>This is an automated message, please do not reply to it. <br /> To contact Value, please forward this email to <a
        href="mailto:info@value.one">info@value.one</a></p>
<p>Greetings, <br />Value Company OÜ</p>

</html>