<html>
<p>Hello,<br /><br />A wallet <b><%=wallet%></b> has been added to the <%=user.email%> account.</p>
<p>Date of operation: <%=datetime%></p>
<p>This is an automated message, please do not reply to it. <br /> To contact Value, please forward this email to <a
        href="mailto:info@value.one">info@value.one</a></p>
<p>Greetings, <br />Value Company OÜ</p>

</html>