<html>
<p>Hello,<br /><br />Your account <%=user.email%> on the ValueDAO platform has been activated.</p>
<p>The service is available through the website <a href="http://value.one/#/login">http://value.one/#/login</a></p>
<p>This is an automated message, please do not reply to it. <br /> To contact Value, please forward this email to <a
        href="mailto:info@value.one">info@value.one</a></p>
<p>Greetings, <br />Value Company OÜ</p>

</html>