<html>
    <p>Token transfer has been initiated.</p>
    <p>Blockchain transaction hash: <a href="https://etherscan.io/tx/<%=hash%>">https://etherscan.io/tx/<%=hash%></a></p>

    <p>This is an automated message, please do not reply to it. <br /> To contact Value, please forward this email to <a
            href="mailto:info@value.one">info@value.one</a></p>
    <p>Greetings, <br />Value Company OÜ</p>
</html>